.venv/
myenv/
google_otomasyon_profili/
__pycache__/
saved_maps_profile/
saved_ys_profile/
cekilen_veriler/
Transformed_datas/
notes.md
.env
/linkler.txt
/.idea/
/logs/
/migration.py
/gold_dataset.jsonl
/linkler2.txt
frontend/
venv/
mapslog.txt
one-off-maps-category.py
/one-off-category-scraper.py
/sql_query.py
/linkler2.txt
