.venv/
myenv/
google_otomasyon_profili/
__pycache__/
saved_maps_profile/
saved_ys_profile/
cekilen_veriler/
Transformed_datas/
.env
/.idea/
/logs/
/migration.py
/gold_dataset.jsonl
frontend/
venv/
mapslog.txt
one-off-maps-category.py
/one-off-category-scraper.py
/sql_query.py
/one-off-trendyol-hepsiburada-category.py
/.DS_Store
dataset/
/linkler3.txt
one-off/
/model_training/
/off/
/scripts/
/results/
/Llama_Dataset/islenen_urunler.json
/Llama_Dataset/train.jsonl
algorithms-fastapi/Llama_Dataset/
