aiohttp
beautifulsoup4==4.14.3
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.5
cloudinary
curl_cffi==0.14.0
dateparser
emoji==2.15.0
fastapi
greenlet==3.3.2
idna==3.11
langdetect
optimum[onnxruntime]
pandas
pgvector
playwright==1.58.0
playwright-stealth==2.0.2
psycopg2-binary
pycparser==3.0
pydantic>=2.0.0
pyee==13.0.1
python-dotenv
rapidfuzz
requests==2.32.5
soupsieve==2.8.3
SQLAlchemy>=2.0.0
torch
transformers
typing_extensions==4.15.0
urllib3==2.6.3
uvicorn
